<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title style="font-size: 1.3rem;">Metric Converter</ion-title>
    </ion-toolbar>
    <ion-toolbar class="subtitle-toolbar">
      <ion-title style="font-size: 0.7rem;">By: Syifabela Suratinoyo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text>
            <h2>Selamat datang di Aplikasi Konversi Metrik!</h2>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="11" class="small-box">
          <ion-label>Pilih Metrik:</ion-label>
          <ion-select placeholder="Pilih Metrik" (ionChange)="updateUnits($event)">
            <ion-select-option value="length">Panjang</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="5" class="small-box">
          <ion-label>Dari:</ion-label>
          <ion-select placeholder="--Pilih Satuan--" [(ngModel)]="fromUnit" [disabled]="!unitsAvailable">
            <ion-select-option *ngFor="let unit of availableUnits" [value]="unit">{{ unit }}</ion-select-option>
          </ion-select>
        </ion-col>
      
        <ion-col size="5" class="small-box">
          <ion-label>Ke:</ion-label>
          <ion-select placeholder="--Pilih Satuan--" [(ngModel)]="toUnit" [disabled]="!unitsAvailable">
            <ion-select-option *ngFor="let unit of availableUnits" [value]="unit">{{ unit }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input
            type="number"
            placeholder="Masukkan nilai"
            [(ngModel)]="inputValue"
            (ionInput)="convert()"
            [disabled]="!unitsAvailable"
            readonly
            class="custom-input"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="calculator">
        <ion-col size="3">
          <ion-button (click)="appendNumber(1)">1</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="appendNumber(2)">2</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="appendNumber(3)">3</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="calculator">
        <ion-col size="3">
          <ion-button (click)="appendNumber(4)">4</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="appendNumber(5)">5</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="appendNumber(6)">6</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="calculator">
        <ion-col size="3">
          <ion-button (click)="appendNumber(7)">7</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="appendNumber(8)">8</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button  (click)="appendNumber(9)">9</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="calculator">
        <ion-col size="3">
          <ion-button (click)="clear()">C</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="appendNumber(0)">0</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="convert()">=</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text *ngIf="result !== null" class="result-display">
            <h3>Hasil Konversi:</h3>
            <p> {{ result }} {{ toUnit }} </p>
          </ion-text>
        </ion-col>
      </ion-row>      

    </ion-grid>
  </ion-content>
</ion-app>
