ion-toolbar {
  --background: #e69232;
  --color: rgb(255, 255, 255);
  --min-height: 70px;
  --padding: 0;
  --margin: 0;
}

.subtitle-toolbar {
  --min-height: 40px; /* Mengurangi tinggi minimum toolbar */
  --height: 40px; /* Menetapkan tinggi toolbar */
}

.small-box {
  border: 2px solid #ffae52; /* Warna dan ketebalan border */
  padding: 13px; /* Ukuran padding lebih kecil */
  border-radius: 8px; /* Membuat sudut border melengkung */
  margin: 14px; /* Mengatur jarak antar kotak */
  width: 100%; /* Membuat kotak sesuai dengan kolom ion-col */
}

ion-select {
  font-size: 0.9rem; /* Memperkecil ukuran teks di dalam ion-select */
}

/* CSS */
.custom-input {
  font-size: 1.5rem; /* Ukuran font lebih besar */
  text-align: center; /* Memusatkan teks */
  border: 2px solid #ffae52; /* Border dengan warna dan ketebalan */
  border-radius: 8px; /* Sudut border melengkung */
  padding: 10px; /* Padding di dalam input */
}

/* Jika menggunakan Shadow DOM, gunakan ::ng-deep */
::ng-deep .custom-input {
  font-size: 1.5rem; /* Ukuran font lebih besar */
  text-align: center; /* Memusatkan teks */
  border: 2px solid #ffae52; /* Border dengan warna dan ketebalan */
  border-radius: 8px; /* Sudut border melengkung */
  padding: 10px; /* Padding di dalam input */
}

ion-button {
  --background: #ffffff; /* Latar belakang tombol default */
  --background-activated: #ffae52; /* Latar belakang saat ditekan */
  --background-focused: #ffae52; /* Latar belakang saat tombol mendapatkan fokus */
  --color: #ffae52; /* Warna teks tombol default */
  --border-radius: 8px; /* Sudut melengkung tombol */
  --border: 2px solid #ffae52; /* Border tombol */
  height: 60px; /* Tinggi tombol */
  width: 60px; /* Lebar tombol */
  font-size: 1.2rem; /* Ukuran font pada tombol */
}

ion-button:active {
  --background: #ffae52; /* Latar belakang tombol saat ditekan */
  --color: #ffffff; /* Warna teks tombol saat ditekan */
  --border: 2px solid #ffae52; /* Border tombol saat ditekan */
}

/* Untuk mengatasi tema default Ionic */
ion-button::part(native) {
  border: 2px solid #ffae52; /* Border tombol */
  background-color: #ffffff; /* Latar belakang default */
}

ion-button::part(native):active {
  background-color: #ffae52; /* Latar belakang saat ditekan */
  color: #ffffff; /* Warna teks saat ditekan */
}


.result-display {
  text-align: center; /* Memusatkan teks */
  padding: 13px; /* Sama dengan padding small-box */
  margin: 14px 0; /* Sama dengan margin top dan bottom small-box */
}

.result-display h3 {
  color: #ffae52; /* Warna hijau lebih gelap untuk judul */
  margin-bottom: 8px; /* Jarak bawah judul */
}

.result-display p {
  font-size: 1.2rem; /* Ukuran font untuk hasil */
  font-weight: bold; /* Font tebal untuk hasil */
  color: #ffae52; /* Warna teks hasil */
}

.calculator {
  justify-content: center;
}

.button-col {
  display: flex;
  justify-content: center;
}

.result-row {
  justify-content: center;
}

.result-col {
  text-align: center;
}

